#seePeth{
  background-color: #f6f5f4;
  .ms-section{
    width: 100%;
    max-width: 645px;
    padding: 80px 15px 15px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    .ms-title{
      color: #6c6c6c;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.2;
      margin: 20px 0;
    }

    p{
      color: #6c6c6c;
      font-size: 15px;
      line-height: 1.4;
    }

    .ms-btn{
      background-color: $primario;
      color: #FFF;
      margin-top: 20px;
      padding: 15px 40px;
      &:hover{
        background-color: $secundario;
      }
    }

    @media screen and (min-width: 768px){
      .ms-title{
        margin-bottom: 40px;
      }

      p{
        font-size: 18px;
      }

      .ms-btn {
        margin-top: 40px;
        padding: 17px 56px;
      }
    }

    @media screen and (min-width: 1024px){
      padding-top: 150px;
    }
  }

  .ms-wrap-img{
    width: 100%;
    height: auto;
    img{
      width: 100%;
    }
    @media screen and (min-width: 991px){
      margin-top: -120px;
    }

    @media screen and (min-width: 1440px){
      margin-top: -190px;
    }
  }
}