#userPayment{
  .ms-wrap-section{
    .ms-servicios-list{
      .ms-item-servicios{
        width: 100%;
        display: block;
        position: relative;
        input{
          display: none;
          &:checked + label{

            .ms-item-cant{
              color: #FFF;
            }
            
            &:not(.special){
              .ms-wrap-item{
                border-color: #005360;
                background-color: $primario;
                .ms-info-service{
                  p{
                    color: #FFF;
                  }

                  &:before{
                    border-color: $secundario;
                    background-color: $secundario;
                  }

                  &:after{
                    color: $primario;
                    opacity: 1;
                  }
                }
              }
            }

            &.special{
              &.pack-a,
              &.pack-b{
                .ms-wrap-item{
                  .ms-info-service{
                    &:after{
                      opacity: 1;
                    }
                    &:before{
                      background-color: #FFF;
                    }
                  }
                }

                &:after,
                &:before{
                  opacity: 1;
                }
              }
            }
          }
        }

        label{
          position: relative;
          width: 100%;
          display: block;
          cursor: pointer;
          .ms-wrap-item{
            position: relative;
            border: 1px solid #e1e7e6;
            background-color: #f7f7f7;
            border-radius: 10px;
            padding: 15px;
            display: flex;
            flex-wrap: wrap;
            padding-left: 50px;
            transition: all .3s;
            z-index: 2;
            .ms-price-service,
            .ms-info-service{
              width: 100%;
            }

            .ms-info-service{
              .ms-title{
                font-weight: bold;
                font-size: 24px;
                color: $secundario;
                display: block;
              }

              p{
                color: #929292;
                line-height: 1.4;
                font-size: 15px;
                margin: 2px 0 5px 0;
              }

              &:before{
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 4px;
                border: 1px solid #949494;
                position: absolute;
                top: 20px;
                left: 15px;
              }

              &:after{
                content: "\e909";
                font-family: 'ms-icons' !important;
                display: flex;
                width: 18px;
                height: 18px;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 20px;
                left: 15px;
                transition: all .3s;
                opacity: 0;
                font-size: 12px;
              }
            }

            .ms-price-service{
              font-size: 25px;
              font-weight: bold;
              color: $secundario;
            }

            .ms-item-cant{
              color: #929292;
              select{
                padding: 5px 10px;
                width: 45px;
                text-align: center;
                border: 1px solid #bacccf;
                background-color: #f0f5f9;
                border-radius: 4px;
                font-size: 13px;
                background-image: url(../img/sprite.png);
                background-repeat: no-repeat;
                background-position: 15px -336px;
                color: #333 !important;
              }
            }
          }

          &.special{
            &.pack-a{
              .ms-wrap-item{
                border-color: #e04b00;
                background: rgb(255,167,39);
                background: linear-gradient(90deg, rgba(255,167,39,1) 0%, rgba(255,149,29,1) 35%, rgba(245,107,4,1) 100%);
                .ms-info-service .ms-title, p, .ms-price-service{
                  color: #FFF;
                }

                .ms-info-service{
                  &:before{
                    border-color: #FFF;
                  }
                  &:after{
                    color:#ffa325;
                  }
                }
              }

              &:before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(100% + 14px);
                height: calc(100% + 14px);
                transform: translate(-50%, -50%);
                background-color: #ffb100;
                border-radius: 14px;
                display: block;
                z-index: 0;
                transition: all .3s;
                opacity: 0;
              }

              &:after{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(100% + 7px);
                height: calc(100% + 7px);
                transform: translate(-50%,-50%);
                background-color: #ff8100;
                border: 2px solid #ffef00;
                border-radius: 12px;
                display: block;
                z-index: 1;
                transition: all .3s;
                opacity: 0;
              }
            }

            &.pack-b{
              .ms-wrap-item{
                border-color: #004450;
                background: rgb(0,129,146);
                background: linear-gradient(90deg, rgba(0,129,146,1) 0%, rgba(0,113,129,1) 35%, rgba(0,83,97,1) 100%);
                .ms-info-service .ms-title, p, .ms-price-service{
                  color: #FFF;
                }

                .ms-info-service{
                  &:before{
                    border-color: #FFF;
                  }
                  &:after{
                    color:#008192;
                  }
                }
              }

              &:before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(100% + 14px);
                height: calc(100% + 14px);
                transform: translate(-50%, -50%);
                background-color: #008192;
                border-radius: 14px;
                display: block;
                z-index: 0;
                transition: all .3s;
                opacity: 0;
              }

              &:after{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(100% + 7px);
                height: calc(100% + 7px);
                transform: translate(-50%,-50%);
                background-color: #006575;
                border: 2px solid #00d8f4;
                border-radius: 12px;
                display: block;
                z-index: 1;
                transition: all .3s;
                opacity: 0;
              }
            }

            .ms-item-cant{
              color: #FFF;
            }
          }
        }
      }

      li{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    .ms-wrap-total{
      width: 100%;
      margin-top: 20px;
      span{
        display: block;
        text-align: center;
        &.ms-title{
          font-size: 22px;
          color: #9db0b9;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #9db0b9;
        }

        &.ms-total{
          color: #495d69;
          font-weight: bold;
          font-size: 35px;
        }
      }
    }

    .ms-wrap-ft{
      &.servicesWrap{
        max-width: 790px;
        .ms-msg-note{
          margin-bottom: 20px;
          max-width: 100% !important;
        }
      }
    }

    @media screen and (min-width: 768px){
      .servicesWrap{
        .ms-panel-body{
          flex-direction: column;
          .ms-servicios-list{
            margin-left: -15px;
            margin-right: -15px;
            &:after{
              content: "";
              display: block;
              clear: both;
            }

            li{
              float: left;
              padding: 0 15px;
              width: 50%;
            }
          }
        }
      }
    }

    @media screen and (min-width: 1024px){
      .servicesWrap{
        .ms-panel-body{
          .ms-servicios-list{
            .ms-item-servicios{
              label{
                .ms-wrap-item{
                  flex-wrap: nowrap;
                  .ms-info-service{
                    padding-right: 15px;
                  }
                  .ms-price-service{
                    width: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}