<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Reserva 
      <fa-icon [icon]="['fas', 'spinner']" class="mr-1" [pulse]="true" *ngIf="loadData"></fa-icon>
    </h5>
    <button type="button" class="close" (click)="closeModal('CLOSE')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink><fa-icon [icon]="['fas', 'bed']" class="mr-1"></fa-icon> Detalle</a>
          <ng-template ngbNavContent>
            <div class="w-100 d-inline-block" style="vertical-align: top;">
                <table class="table table-sm p-0" *ngIf="row">
                    <!-- <tr>
                        <td style="border-top: 0 !important;">Foto</td><td style="border-top: 0 !important;">
                            <img src="http://localhost:4200/assets/img/shop-img/1.png" alt="contact-img" title="contact-img" class="round mr-3 product-thumb">
                        </td>
                    </tr> -->
                    <tr>
                        <td style="border-top: 0 !important;">Canil</td>
                        <td style="border-top: 0 !important;">{{row.kennelName}}</td>
                    </tr>
                    <tr>
                        <td>Mascota</td><td>{{row.petName}}</td>
                    </tr>
                    <tr>
                        <td>Dueño</td><td>{{row.customerName}}</td>
                    </tr>
                    <tr>
                        <td>Fecha inicio</td><td>{{row.dateTo}}</td>
                    </tr>
                    <tr>
                        <td>Fecha fin</td><td>{{row.dateFrom}}</td>
                    </tr>
                    <tr>
                        <td>Estado</td>
                        <td>
                            <a class="badge badge-pill badge-warning" *ngIf="row.stateName === 'PENDIENTE'">
                                <div class="text-dark">
                                  {{ row.stateName }}
                                </div>
                              </a>
                              <a class="badge badge-pill badge-success" *ngIf="row.stateName === 'CONFIRMADO'">
                                <div class="text-white">
                                  {{ row.stateName }}
                                </div>
                              </a>
                              <a class="badge badge-pill badge-danger" *ngIf="row.stateName === 'CANCELADA'">
                                <div class="text-white">
                                  {{ row.stateName }}
                                </div>
                              </a>
                              <a class="badge badge-pill badge-secondary" *ngIf="row.stateName === 'TERMINADA'">
                                <div class="text-white">
                                  {{ row.stateName }}
                                </div>
                              </a>
                        </td>
                    </tr>
                </table>
              </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink><fa-icon [icon]="['fas', 'shopping-cart']" class="mr-1"></fa-icon> Pago</a>
          <ng-template ngbNavContent>
            <div class="w-100 d-inline-block" style="vertical-align: top;">
                <table class="table table-sm p-0" *ngIf="row">
                  <tr>
                    <td style="border-top: 0 !important;">Ticket</td>
                    <td style="border-top: 0 !important;">#{{ row.payment.ticket }}</td>
                  </tr>
                  <tr>
                      <td>Fecha</td>
                      <td>{{row.payment.createdAt}}</td>
                  </tr>
                  <tr>
                      <td>Medio de Pago</td>
                      <td>{{row.payment.paymentMethodName}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{row.payment.total}}</td>
                  </tr>
                  <tr>
                      <td style="border-bottom: 0 !important;">Estado</td>
                      
                      <td style="border-bottom: 0 !important;">
                        <a class="badge badge-pill badge-warning" *ngIf="row.payment.stateName === 'PENDIENTE'">
                          <div class="text-dark">
                            {{ row.payment.stateName }}
                          </div>
                        </a>
                        <a class="badge badge-pill badge-success" *ngIf="row.payment.stateName === 'CONFIRMADO'">
                          <div class="text-white">
                            {{ row.payment.stateName }}
                          </div>
                        </a>
                        <a class="badge badge-pill badge-danger" *ngIf="row.payment.stateName === 'CANCELADA'">
                          <div class="text-white">
                            {{ row.payment.stateName }}
                          </div>
                        </a>
                        <a class="badge badge-pill badge-secondary" *ngIf="row.payment.stateName === 'TERMINADA'">
                          <div class="text-white">
                            {{ row.payment.stateName }}
                          </div>
                        </a>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2"></td>
                  </tr>
                  <tr>
                      <td colspan="2" style="border-top: 0 !important;">Detalle</td>
                  </tr>
                  <tr>
                    <td  class="p-0" colspan="2">
                      <table class="table m-0">
                        <thead>
                            <tr>
                                <th class="py-3" width="70%">
                                    Servicio
                                </th>
                                <th class="py-3" width="30%">
                                    Precio
                                </th>
                                <th class="py-3" width="30%">
                                    Cantidad
                                </th>
                                <th class="py-3" width="30%">
                                    Subtotal
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let item of row.payment.orders">
                                <td class="py-3">
                                    {{item.serviceName}}
                                </td>
                                <td class="py-3">
                                    {{item.price | currency:'S/':'code'}}
                                </td>
                                <td class="py-3">
                                    {{item.quantity}}
                                </td>
                                <td class="py-3">
                                    {{item.subtotal | currency:'S/':'code'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                  </tr>
                </table>
                
              </div>
          </ng-template>
        </li>
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  