@font-face {
  font-family: 'ms-icons';
  src: url("icons/fonts/ms-icons.eot?miasq5");
  src: url("icons/fonts/ms-icons.eot?miasq5#iefix") format("embedded-opentype"), url("icons/fonts/ms-icons.ttf?miasq5") format("truetype"), url("icons/fonts/ms-icons.woff?miasq5") format("woff"), url("icons/fonts/ms-icons.svg?miasq5#ms-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="ms-icon-"], [class*=" ms-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ms-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ms-icon-checkmark:before {
  content: "\e909"; }

.ms-icon-picture:before {
  content: "\e907"; }

.ms-icon-add:before {
  content: "\e908"; }

.ms-icon-layout:before {
  content: "\e906"; }

.ms-icon-user:before {
  content: "\e905"; }

.ms-icon-arrow:before {
  content: "\e904"; }

.ms-icon-arrow_calendar:before {
  content: "\e903"; }

.ms-icon-bone:before {
  content: "\e901"; }

.ms-icon-paw:before {
  content: "\e902"; }

.ms-icon-pinterest:before {
  content: "\e900"; }

.ms-icon-google-plus:before {
  content: "\ea8b"; }

.ms-icon-facebook:before {
  content: "\ea90"; }

.ms-icon-instagram:before {
  content: "\ea92"; }

.ms-icon-whatsapp:before {
  content: "\ea93"; }

.ms-icon-twitter:before {
  content: "\ea96"; }

.ms-icon-linkedin:before {
  content: "\eac9"; }

.ms-icon-linkedin2:before {
  content: "\eaca"; }
